{% include 'sitio/head_palmer.html' %}

        <section class="bienvenidos">
            <div class="container">
            <div class="row">
                <div class="col-12">
                <h1 class="display-4 font-weight-bold">BIENVENIDO A PALMER SCHOOL</h1>
                <p class="h1 mb-4">Nuestro compromiso es <br class="d-md-none">
                    <span class="typed border-bottom font-weight-bold"></span>
                </p>
                <a href="/contacto" class="btn btn-primary btn-lg">Contáctanos</a>
                </div>
            </div>
            </div>
        </section>
    </header>

    <!-- FUNDAMENTOS EDUCATIVOS -->
    <main
        data-aos="fade-up"
        data-aos-offset="200"
        data-aos-delay="50"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-mirror="true"
        data-aos-once="false"
        data-aos-anchor-placement="top-center"
        class="overflow-x-hidden"
    >

        <div class="container py-5"
        >
            <h3 style="color:orange; text-align: center;"><b>Potenciamos las habilidades de tus hijos </b>a través de nuestros fundamentos educativos.</h3>
            <div class="row justify-content-center py-5">
                <div class="card text-white bg-primary border border-danger rounded mx-2 py-2" style="max-width: 34rem;min-height: 25rem;">

                    <div class="card-header">
                        <center><i class="fas fa-graduation-cap fa-7x mb-4"></i></center>
                    </div>

                    <div class="card-body">
                        <h2 class="card-title text-center">Líderes con Valores</h2>
                        <p class="card-text">
                        Nuestra misión es cultivar la excelencia académica y el carácter,
                        preparando a nuestros estudiantes para enfrentar los desafíos del mundo con integridad y liderazgo. Creemos en educar no solo mentes brillantes, sino también corazones compasivos
                        y éticos que guiarán con respeto y responsabilidad. Juntos, construimos el camino hacia un liderazgo comprometido con los valores y el progreso de nuestra sociedad.
                        </p>
                    </div>
                </div>

                <div class="card text-white bg-success border border-primary rounded mx-2 py-2" style="max-width: 34rem;min-height: 25rem;">
                    <div class="card-header">
                        <center><i class="fas fa-book-reader fa-7x mb-4"></i></center>
                        
                    </div>
                    <div class="card-body">
                        <h2 class="card-title text-center">Líderes con Valores</h2>
                        <p class="card-text">
                        Nuestra misión es cultivar la excelencia académica y el carácter,
                        preparando a nuestros estudiantes para enfrentar los desafíos del mundo con integridad y liderazgo. Creemos en educar no solo mentes brillantes, sino también corazones compasivos
                        y éticos que guiarán con respeto y responsabilidad. Juntos, construimos el camino hacia un liderazgo comprometido con los valores y el progreso de nuestra sociedad.
                        </p>
                    </div>
                </div>

            </div>
        </div>

      <!-- Niveles Educativos -->
      <section id="proyectos" class="py-5 text-center">
        
          <header class="text-center text-secondary text-uppercase mb-5 bg-light">
            <h2 class="display-4 font-weight-bold">Nuestros Niveles Educativos</h2>
            <p class="lead mt-3 mb-0">Conoce los niveles educativos con los que cuenta nuestra Institución.</p>
            <span class="separador-titulos"></span>
          </header>
          <div class="row">  
      
      
            <div class="col-12 col-md-6 col-lg-4">
              <a href="/inicial" class="proyecto" data-aos="zoom-out-right">
                <div class="mascara">
                  <h3>Nivel Inicial</h3>
                  <p>Nuestra propuesta pedagóciga abarca la atención de niños de 3, 4 y 5 años de edad, siendo muy respetuosos de ñas características pscicoevolutivas del niño.</p>
                  <span class="btn btn-outline-light">Más información</span>
                  </div>
                  <img src="{{ url_for('static', filename='/images/nivel_inicial.jpg') }}" alt="Proyecto 1" class="img-fluid">      
              </a>
            </div>
      
            <div class="col-12 col-md-6 col-lg-4">
              <a href="#" class="proyecto" data-aos="zoom-in-down">
                <div class="mascara">
                  <h3>Nivel Primaria</h3>
                  <p>Nuestra propuesta pedagóciga es brinda a nuestros estudiantes el mejor servicio educativo para el logro de sus aprendizajes esperados.</p>
                  <span class="btn btn-outline-light">Más información</span>
                  </div>
                  <img src="{{ url_for('static', filename='/images/nivel_primaria.jpg') }}" alt="Proyecto 2" class="img-fluid">        
              </a>
            </div>
      
            <div class="col-12 col-md-6 col-lg-4">
              <a href="#" class="proyecto" data-aos="zoom-out-left">
                <div class="mascara">
                  <h3>Nivel Secundaria</h3>
                  <p>Estimulamos el buen uso de las herramientas tecnológicas en las aulas, para un mejor aprendizaje dentro de un mundo que cambia constantemente..</p>
                  <span class="btn btn-outline-light">Más información</span>
                  </div>
                  <img src="{{ url_for('static', filename='/images/nivel_secundaria.jpg') }}" alt="Proyecto 3" class="img-fluid">        
              </a>
            </div>
      
          </div> 
        
      </section>
    <main>

    <!-- Porque Elegirnos -->

    <main 
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-delay="50"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="false"
      data-aos-anchor-placement="top-center"
      id="porque-elegirnos" class="py-2 text-white text-center"
      >
      
      <div class="container">
        <header class="text-center text-uppercase mb-5">
          <h2 class="display-4 font-weight-bold">¿Por qué elegirnos?</h2>
          <span class="separador-titulos bg-white"></span>
        </header>
  
        <div class="row">
  
          <div class="col-12 col-md-6 col-xl-6 mb-5 mb-xl-0">
            <h3 class="font-weight-bold mb-4">¿Por qué estudiar en Palmer School?</h3>
            <i class="fas fa-question-circle fa-7x mb-4"></i>
            
            <p>En nuestra institución recibirás una educación de calidad, somos una institución con mas de 13 años de experiencia.</p>
          </div>
  
          <div class="col-12 col-md-6 col-xl-6 mb-xl-0">
            <h3 class="font-weight-bold mb-3">Conoce Sobre Nuestra Historia</h3>
            <i class="fas fa-school fa-7x mb-4" aria-hidden="true"></i>
            
            <p>Nuestro colegio Palmer School, desde el año que fue fundado en 2002 se ha constituido en el segundo hogar de cuanto...</p>
          </div>
  
  
        </div>
      </div>
      
      <!-- Quienes somos -->
      <section  id="quienes-somos" class="py-100 bg-light">
        
        <div class="container">

          <header class="text-center text-secondary text-uppercase mb-5 py-5 bg-light">
            <h3 class="display-5 font-weight-bold">Ofrecemos una educación integral de calidad</h3>
            <p class="lead mt-3 mb-4">"Tenemos más de quince años formando estudiantes"</p>
            <p>Somos una gran familia conformada por nuestros colaboradores, alumnos y padres de familia. Brindamos a nuestros alumnos una educación de calidad, con una formación integral que los prepare para triunfar en un mundo altamente competitivo y cambiante, ayudándolos a alcanzar todo su potencial.</p>
            <span class="separador-titulos"></span>
          </header>

          <div class="row">
            
            <div class="col-12 col-md-4 col-xl-4">
              
              <article class="reviews__review">
                
                <div class="review__image-container">
                    <img src="{{ url_for('static', filename='/images/testimonio3.jpg') }}" class="review__image" alt="Cara de un cliente" />
                </div>
                
                <div class="review__description">
                    <p class="review__text">
                      Queremos que esta plataforma sea un lugar de encuentro para toda la comunidad escolar como también para todos quienes nos visiten, y así fortalecer nuestra propuesta educativa. Aquí podrán saber sobre nuestra organización y el acontecer diario de nuestro colegio.
                    </p>
                </div>

                <div class="review__author">
                    <div class="review__author-info">
                        <h5 class="review__company">PALABRAS DEL DIRECTOR</h5>
                        <!--<h4 class="review__name">Silvana Cuba</h4>-->
                    </div>

                    <div>
                      <a href="#" class="btn btn-primary">Más información</a>
                  </div>
                </div>

              </article> 
            
            </div>

            <div class="col-12 col-md-4 col-xl-4">
              <article class="reviews__review">
        
                <div class="review__image-container">
                    <img src="{{ url_for('static', filename='/images/testimonio4.jpg') }}" class="review__image" alt="Cara de un cliente" />
                </div>
                
                <div class="review__description">
                    <p class="review__text">
                      Queremos que esta plataforma sea un lugar de encuentro para toda la comunidad escolar como también para todos quienes nos visiten, y así fortalecer nuestra propuesta educativa. Aquí podrán saber sobre nuestra organización y el acontecer diario de nuestro colegio.
                    </p>
                </div>

                <div class="review__author">
                  <div class="review__author-info">
                      <h5 class="review__company">PLAN EDUCATIVO</h5>
                      <!--<h4 class="review__name">Silvana Cuba</h4>-->
                  </div>

                  <div>
                    <a href="#" class="btn btn-primary">Más información</a>
                </div>
              </div>

              </article> 
            </div>

            <div class="col-12 col-md-4 col-xl-4">
              
              <article class="reviews__review">
        
                <div class="review__image-container">
                    <img src="{{ url_for('static', filename='/images/testimonio5.jpg') }}" class="review__image" alt="Cara de un cliente" />
                </div>
                
                <div class="review__description">
                    <p class="review__text">
                      Queremos que esta plataforma sea un lugar de encuentro para toda la comunidad escolar como también para todos quienes nos visiten, y así fortalecer nuestra propuesta educativa. Aquí podrán saber sobre nuestra organización y el acontecer diario de nuestro colegio.
                    </p>
                </div>

                <div class="review__author">
                  <div class="review__author-info">
                      <h5 class="review__company">MISIÓN - VISIÓN</h5>
                      <!--<h4 class="review__name">Silvana Cuba</h4>-->
                  </div>

                  <div>
                      <a href="#" class="btn btn-primary">Más información</a>
                  </div>
              </div>

              </article> 
            
            </div>
          </div>

        </div>
      </section>
    </main>

    <!-- Testimonios -->

    <main
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-delay="50"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      data-aos-mirror="true"
      data-aos-once="false"
      data-aos-anchor-placement="top-center"
    >
      <section class="bg-light">
        <div class="container">
            <h2 class="lead mt-3 mb-0 text-uppercase text-center">Conoce nuestra Institución a través de este video. </h2>
            <div class="row mt-5">
  
              <div class="col-lg-6">
  
                <div class="row">
  
                  <div class="col-1 mr-3">
                    <i class="fa fa-code fa-2x indigo-text"></i>
                  </div>
  
                  <div class="col-10">
                    <h5 class="feature-title">Lorem ipsum</h5>
                    <p class="grey-text">Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem</p>
                  </div>
  
                </div>
  
                <div class="row">
  
                  <div class="col-1 mr-3">
                    <i class="fa fa-code fa-2x indigo-text"></i>
                  </div>
  
                  <div class="col-10">
                    <h5 class="feature-title">Lorem ipsum</h5>
                    <p class="grey-text">Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem</p>
                  </div>
  
                </div>
  
                <div class="row">
  
                  <div class="col-1 mr-3">
                    <i class="fa fa-code fa-2x indigo-text"></i>
                  </div>
  
                  <div class="col-10">
                    <h5 class="feature-title">Lorem ipsum</h5>
                    <p class="grey-text">Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem</p>
                  </div>
  
                </div>
  
              </div>
  
              <div class="col-lg-6">

              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4EuknxA6ZtQ" allowfullscreen></iframe>
            </div>
            
  
              </div>
  
            </div>
        </div><br>
      </section>
      <section class="py-20">
        <header class="text-left text-white text-uppercase mb-5 py-5 ">
          <h3 class="display-5 font-weight-bold">últimos Comunicados directivos</h3>
          <span class="separador-titulos"></span>
        </header>

        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="{{ url_for('static', filename='/images/logo_head.png') }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><b>Entrega de Libros III y IV bimestrestre</b></h5>
              <p class="card-text">Mediante el presente de les comunica que la entrega de los libros correspondientes al III y IV Bimestre se realizará el jueves 3 de Agosto.</p>
              <div class="p-3 mb-2 bg-success text-white text-center custom-width">
                  <a href="/comunicado" class="text-white">Leer Comunicado</a>
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="{{ url_for('static', filename='/images/logo_head.png') }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><b>Programa de Aniversario</b></h5>
              <p class="card-text">Mediante el presente de les comunica el cronograma programado para nuestra semana de aniversario... </p>
              <div class="p-3 mb-2 bg-success text-white text-center custom-width">
                <a href="/comunicado" class="text-white">Leer Comunicado</a>
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="{{ url_for('static', filename='/images/logo_head.png') }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><b>Charla para alumnos</b></h5>
              <p class="card-text">Invitamos a todos nuestros alumnos de secundaria a participar de esta interesante charla.......</p>
              <div class="p-3 mb-2 bg-success text-white text-center custom-width">
                <a href="/comunicado" class="text-white">Leer Comunicado</a>
              </div>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </section> <br>
      <section id="testimonios_apoderados">
        <div class="container"><br>
            <div class="row">
                <div class="col-md-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          
                        </ol>
    
                        <div class="carousel-inner">
    
                            <div class="carousel-item active">
                                <div class="row">
    
                                    <div class="col-md-4">
                                        <div class="single-box">
                                            <div class="img-area"><img src="{{ url_for('static', filename='/images/testimonio1.jpg') }}" alt="Chicago"></div>
                                            <div class="img-text">
                                                <h2>Persona Uno</h2>
                                                <p>
                                                    Queremos que esta plataforma sea un lugar de encuentro para toda la comunidad escolar como también para todos quienes nos visiten, y así fortalecer nuestra propuesta educativa.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="col-md-4">
                                        <div class="single-box">
                                            <div class="img-area"><img src="{{ url_for('static', filename='/images/testimonio2.jpg') }}" alt="Chicago"></div>
                                            <div class="img-text">
                                                <h2>Persona Dos</h2>
                                                <p>
                                                    Queremos que esta plataforma sea un lugar de encuentro para toda la comunidad escolar como también para todos quienes nos visiten, y así fortalecer nuestra propuesta educativa.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="col-md-4">
                                        <div class="single-box">
                                            <div class="img-area"><img src="{{ url_for('static', filename='/images/testimonio3.jpg') }}" alt="Chicago"></div>
                                            <div class="img-text">
                                                <h2>Persona Tres</h2>
                                                <p>
                                                    Queremos que esta plataforma sea un lugar de encuentro para toda la comunidad escolar como también para todos quienes nos visiten, y así fortalecer nuestra propuesta educativa.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
    
    
                            <div class="carousel-item">
                                <div class="row">
    
                                    <div class="col-md-4">
                                        <div class="single-box">
                                            <div class="img-area"><img src="{{ url_for('static', filename='/images/testimonio3.jpg') }}" alt="Chicago"></div>
                                            <div class="img-text">
                                                <h2>Persona Cuatro</h2>
                                                <p>
                                                    Queremos que esta plataforma sea un lugar de encuentro para toda la comunidad escolar como también para todos quienes nos visiten, y así fortalecer nuestra propuesta educativa.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="col-md-4">
                                        <div class="single-box">
                                            <div class="img-area"><img src="{{ url_for('static', filename='/images/testimonio2.jpg') }}" alt="Chicago"></div>
                                            <div class="img-text">
                                                <h2>Persona Cinco</h2>
                                                <p>
                                                    Queremos que esta plataforma sea un lugar de encuentro para toda la comunidad escolar como también para todos quienes nos visiten, y así fortalecer nuestra propuesta educativa.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="col-md-4">
                                        <div class="single-box">
                                            <div class="img-area"><img src="{{ url_for('static', filename='/images/testimonio1.jpg') }}" alt="Chicago"></div>
                                            <div class="img-text">
                                                <h2>Persona Seis</h2>
                                                <p>
                                                    Queremos que esta plataforma sea un lugar de encuentro para toda la comunidad escolar como también para todos quienes nos visiten, y así fortalecer nuestra propuesta educativa.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
    
    
                        </div>
                    </div>
                </div>
            </div>
        </div><br><br>
      </section>
    </main>
{% include 'sitio/foot_palmer.html' %}