{% include 'sitio/head_palmer.html' %}
    <div class="container "><hr class="bg-light">
        <header class="text-center text-secondary bg-light rounded">
            <h2 class="font-weight-bold">Nivel Inicial</h2>
            <p>En Palmer School, nuestra atención se dirige hacia la formación completa de nuestros estudiantes desde una edad temprana, nutriendo su habilidad para alcanzar la autonomía a través de estímulos provenientes del entorno. Nos dedicamos a fomentar la interacción entre los estudiantes de nivel inicial, promoviendo el trabajo en equipo para fortalecer su confianza en el mundo exterior y su capacidad para enfrentar nuevos desafíos con determinación.</p>
            <span class="separador-titulos"></span>
        </header>
    </div>
    <section>

        <div class="timeline">

            <div class="container_niveles left-container">
                <img src="static/images/bubble-16.png" alt="">
                
                <div class="text-box">
                    <h2>Inicial</h2>
                    <!--<small>2018 - 2019</small>-->
                    <p>En este nivel se establecen las bases de la formación de la personalidad integra y protagónica, a través de su participación activa en los contextos de juego, psicomotricidad, interacción, curiosidad e identidad de los niños y niñas, así como también la activa participación de los Padres de familia en el actuar del estudiante.</p>
                    <small class="left-container-arrow"></small>
                </div>
            </div>
       
            <div class="container_niveles right-container">
                <div class="text-box with-background">

                    
                </div>
            </div>
            

            <div class="container_niveles left-container">
                <img src="static/images/bubble-16.png" alt="">
                <div class="text-box">
                    <h2>Formación de la identidad.</h2>
                    <!--<small>2018 - 2019</small>-->
                    <p>Aprende a reconocerse como niños, niñas, como miembros de una familia, donde pueden expresar sus emociones, con naturalidad y mucha seguridad.</p>
                    <small class="left-container-arrow"></small>
                </div>
            </div>

            <div class="container_niveles right-container">
                <img src="static/images/bubble-16.png" alt="">
                <div class="text-box">
                    <h2>Actividad Lúdica.</h2>
                    <!--<small>2018 - 2019</small>-->
                    <p>A través del juego, el niño se apropia del mundo y sus relaciones con los demás, resuelve conflictos y pone a prueba su inventiva, asimismo es mediado por los demás.</p>
                    <small class="right-container-arrow"></small>
                </div>
            </div>

            <div class="container_niveles left-container">
                <img src="static/images/bubble-16.png" alt="">
                <div class="text-box">
                    <h2>Protagonismo Infantil.</h2>
                    <!--<small>2018 - 2019</small>-->
                    <p>La participación activa de los niños desarrolla el compromiso y la dedicación, ello implica desarrollar la capacidad de trabajar solidariamente a partir de consensos.</p>
                    <small class="left-container-arrow"></small>
                </div>
            </div>


            
        </div>
    </section>
</header>
<section data-aos="fade-in" class="nivel_inicial"><br>
    <div class="container">
        <div data-aos="fade-in" class="row">
            <div class="col-12 col-md-6 col-xl-6">

                <div class="header_niveles">
                    <h1 class="header_niveles_h1">Educación en Inicial</h1>
                    Contamos con una metodología creada especialmente para niños de educación educación Inicial con la finalidad de enseñarles a disfrutar de la investigación, desarrollar su autonomía y estimular su creatividad a través de trabajos individuales y grupales.
                </div>
            
            </div>
            <div class="col-12 col-md-6 col-xl-6 bg-light border border-primary rounded">
                
                    <div class="form-row">
                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12">
                            <h3 style="color:orange;">ENVÍANOS TUS DATOS Y NOS CONTACTARÉMOS CONTIGO</h3>
                    </div>
                        <div class="form-group col-lg-6 col-md-12 col-sm-12 col-12">
                            <input type="text" class="form-control" id="no_prinom" name="no_prinom" placeholder="Nombres" required>
                        </div>
                        <div class="form-group col-lg-6 col-md-12 col-sm-12 col-12 mb-3">
                            <input type="text" class="form-control" id="no_segnom" name="no_segnom" placeholder="Apellidos" required>
                        </div>
                    </div>
                    <input type="Email" placeholder="Email" id="no_correo" name="no_correo" class="form-control mb-3" required>
                    <textarea class="form-control mb-3" id="no_mensaj" name="no_mensaj"   placeholder="Escribe tu mensaje" cols="10" rows="5" required></textarea>
                    <center><button class="btn btn-primary mb-3">Enviar Mensaje</button></center>
                </form>
                

            </div>
        </div>
    </div><br>
</section>
<section>
    
    <div class="container"><hr class="bg-light">
        <header class="text-center  bg-light">
            <h2 class="font-weight-bold">Enfoque educativo que pone al alumno en el centro del proceso de aprendizaje.</h2>
            <p>Los alumnos ocupan una posición central en el proceso de aprendizaje, ya que todas las actividades educativas han sido concebidas con el propósito de permitirles explorar, vivenciar y generar, bajo la guía de los docentes. De esta manera, se busca aportar a su desarrollo social y emocional de manera beneficiosa.</p>
            <span class="separador-titulos"></span>
        </header>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 col-xl-4 mb-2 mt-2">
                <article class="reviews__review">
                    <h1 style="color:orange; text-align: center; padding-bottom: 2rem;"><b>Liderazgo</h1></b>

                    <div class="review__description">
                        <p class="review__text">
                            En nuestro colegio, cultivamos el liderazgo brindando oportunidades para que los estudiantes desarrollen habilidades de colaboración, toma de decisiones y empatía, preparándolos para un futuro donde puedan guiar con integridad y creatividad.
                        </p>
                    </div>

                    <div class="review__image-container">
                        <center><i class="fas fa-lightbulb fa-7x mb-3 mt-3"></i></center>
                        
                    </div>

                </article> 
            </div>

            <div class="col-12 col-md-4 col-xl-4 mb-2 mt-2">
                <article class="reviews__review">
                    <h1 style="color:orange; text-align: center; padding-bottom: 2rem;"><b>Aprendizaje en equipo</h1></b>

                    <div class="review__description">
                        <p class="review__text">
                            En nuestro enfoque educativo, valoramos el aprendizaje en equipo como motor de crecimiento. Fomentamos la colaboración, el respeto y la diversidad de ideas, preparando a nuestros estudiantes para enfrentar desafíos con empatía y soluciones conjuntas.
                        </p>
                    </div>

                    <div class="review__image-container">
                        <center><i class="fas fa-users fa-7x mb-4"></i></center>
                    </div>

                </article> 
            </div>

            <div class="col-12 col-md-4 col-xl-4 mb-2 mt-2">
                <article class="reviews__review">
                    <h1 style="color:orange; text-align: center; padding-bottom: 2rem;"><b>Autonomía</h1></b>

                    <div class="review__description">
                        <p class="review__text">
                            Promovemos la autonomía en nuestros estudiantes, alentándolos a explorar, investigar y tomar decisiones informadas. Capacitamos futuros líderes capaces de gestionar su aprendizaje y aportar soluciones creativas en un mundo en constante cambio.
                        </p>
                    </div>

                    <div class="review__image-container">
                        <center><i class="fas fa-book-reader fa-7x mb-4"></i></center>
                    </div>

                </article> 
            </div>
        </div>
    </div>
</section>

{% include 'sitio/foot_palmer.html' %}